body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.status{
  font-size: 30px;
  display: inline;
  float: right;
}

.connected{
  color: #4FD177
}

.disconnected{
  color: #CD0000
}

.question{
  display: block;
}

.question:hover{
  background: #bce8ff;
  cursor: pointer;
}

.axis {
  fill: none;
  stroke: #000;
}

.axis text {
  font: 11px sans-serif;
  fill: #000;
  stroke: none;
  font-weight: bold;
}

.axis line {
  stroke: #ccc;
}

.axis path {
  stroke: #ccc;
}