body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.status{
  font-size: 30px;
  display: inline;
  float: right;
}

.connected{
  color: #4FD177
}

.disconnected{
  color: #CD0000
}

.question{
  display: block;
}

.question:hover{
  background: #bce8ff;
  cursor: pointer;
}